<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- CSS -->
	<link rel="stylesheet" href="{% static 'css/bootstrap-reboot.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/bootstrap-grid.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/slider-radio.css' %}">
	<link rel="stylesheet" href="{% static 'css/select2.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
	<link rel="stylesheet" href="{% static 'css/plyr.css' %}">
	<link rel="stylesheet" href="{% static 'css/main.css' %}">

	<!-- Favicons -->
	<link rel="icon" type="image/png" href="{% static 'media/img/LOGO.gif' %}" sizes="32x32">
	<link rel="apple-touch-icon" href="{% static 'media/img/LOGO.gif' %}">

	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="Dmitry Volkov">
	{% block title %} {% endblock title %}
</head>

<body>
    {% include 'navbar.html' %}

	{% if messages %}
    {% for message in messages %}
        <div class="alert alert--{{message.tags}}">
            <p class="alert__message">{{message}}</p>
            <button class="alert__close">⨯</button>
        </div>
    {% endfor %}
    {% endif %}

    {% block content %}

    {% endblock content %}

    {% include 'footer.html' %}
    <!-- JS -->
	<script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
	<script src="{% static 'js/owl.carousel.min.js' %}"></script>
	<script src="{% static 'js/slider-radio.js' %}"></script>
	<script src="{% static 'js/select2.min.js' %}"></script>
	<script src="{% static 'js/smooth-scrollbar.js' %}"></script>
	<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
	<script src="{% static 'js/plyr.min.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>
</body>
</html>