{% if queryset.has_other_pages %}
<div class="row">
    <div class="col-12">
        <div class="catalog__paginator-wrap">
            <ul class="catalog__paginator">
                {% if queryset.has_previous %}
                <li>
                    <a href="?page={{queryset.previous_page_number}}" data-page="{{queryset.previous_page_number}}">
                        <svg width="14" height="11" viewBox="0 0 14 11" fill="none" xmlns="../../../../external.html?link=http://www.w3.org/2000/svg"><path d="M0.75 5.36475L13.1992 5.36475" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/><path d="M5.771 10.1271L0.749878 5.36496L5.771 0.602051" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/></svg>
                    </a>
                </li>
                {% endif %}
                
                {% for page in custom_range %}
                {% if page == queryset.number  %}
                <li class="active"><a href="?page={{page}}" data-page="{{page}}">{{page}}</a></li>

                {% else %}
                <li><a href="?page={{page}}" data-page="{{page}}">{{page}}</a></li>
                
                {% endif %}
                {% endfor %}

                {% if queryset.has_next %}
                <li>
                    <a href="?page={{queryset.next_page_number}}" data-page="{{queryset.next_page_number}}">
                        <svg width="14" height="11" viewBox="0 0 14 11" fill="none" xmlns="../../../../external.html?link=http://www.w3.org/2000/svg"><path d="M13.1992 5.3645L0.75 5.3645" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/><path d="M8.17822 0.602051L13.1993 5.36417L8.17822 10.1271" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/></svg>
                    </a>
                </li>
                {% endif %}

            </ul>
        </div>
    </div>
</div>
{% endif %}